<p>courses works!</p>

<section>
    <div id="search_div">
        <label for="search_input">Sök:</label>
        <input type="text" id="search_input" name="search_input">
    </div>
    <div id="filter_div">
        <div *ngFor="let subject of uniqueSubjects">
            <label for="{{subject}}">{{subject}}:</label>
            <input type="checkbox" name="{{subject}}" id="{{subject}}" (click)="addKeyWordToFilter($event)">
        </div>
    </div>
</section>
<table>
    <thead>
        <tr>
            <th (click)="sortByCode()">Kurskod</th>
            <th (click)="sortByName()">Namn</th>
            <th (click)="sortByPoints()">Poäng</th>
            <th (click)="sortBySubject()">Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of copyOfCourses">
            <td>{{course.courseCode}}</td>
            <td>{{course.courseName}}</td>
            <td>{{course.points}}</td>
            <td>{{course.subject}}</td>
            <td><a href="{{course.syllabus}}">Kursplan</a></td>
            <td><button>Lägg till</button></td>
        </tr>
    </tbody>
</table>