header {
  width: 100%;
  height: 80px;
  color: darkcyan;
  display: flex;
  img{
    margin: 10px;
  }
  h1 {
    width: 190px;
    font-family: Georgia, Times, serif;
    margin: 20px 20px 20px 10px;
    font-size: 1.2rem;
    span{
      color: #4a4a4a;
    }
  }
}

@media screen and (min-width: 700px){
  header {
    h1 {
      width: auto;
      font-size: 2.2rem;
    }
  }
}

nav {
  background-color: white;
  ul {
    width: 320px;
    list-style: none;
    display: flex;
    flex-direction: row;
    border-top: 2px solid darkcyan;
    li {
      border-right: 2px solid darkcyan;
      background-color: white;
      height: 40px;
      width: 106.333333px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        span {
          color: darkcyan;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4a4a4a;
  h3, a {
    color: white;
    padding: 10px 10px 0 5%;
  }
}

.currentSite {
  background-color: darkcyan !important;
  a {
    span {
      color: white !important;
    }
  }
}
