/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

main {
  width: 90%;
  margin: 0 auto 60px;
}

h2 {
  background-color: darkcyan;
  color: white;
  font-size: 1.8rem;
  padding: 10px 10px 10px 5%;
}

p{
  font-family: Verdana, sans-serif;
}

button {
  width: 90px;
  background-color: darkcyan;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
}

button:hover {
  border: 3px solid #4a4a4a;
  padding: 2px 17px;
}

button:active {
  background-color: #4a4a4a;
}

.tableDiv {
  margin: 30px 0;
  div {
    height: calc(100vh - 385px);
    overflow-x: auto;
  }
}

table {
  min-width: 800px;
  width: 100%;
  max-width: 1600px;
  border-collapse: collapse;
  background-color: white;
  padding: 10px;
  tr {
    height: 65px;
    border-bottom: 1px solid black;
  }

  th:first-child,
  td:first-child {
    width: 80px;
    min-width: 80px;
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 100px;
    min-width: 100px;
    text-align: center;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 60px;
    min-width: 60px;
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 180px;
    min-width: 180px;
    text-align: center;
  }

  th:last-child,
  td:last-child {
    width: 70px;
  }

  a{
    color: blue;
  }
}
