<h2>Välkommen till UCB</h2>
<main>
    <section>
        <article>
            <div>
                <h3>Kolla in de kurser du vill söka</h3>
                <p>Välkommen alla nuvarande och förhopningsvis kommande elever på UCB. Här kan du se de olika kurserna
                    som
                    UCB
                    har att erbjuda, vi hoppas att se er på plats när kurserna börjar!
                </p>
            </div>
            <ul>
                <li>
                    <article>
                        <h4>Sök bland våra tusentals kurser</h4>
                        <p>Intresserad av webbutveckling? Bara att söka!</p>
                        <video muted controls>
                            <source src="../../assets/Instruktionsvideo_sök.mp4" type="video/mp4">
                        </video>
                    </article>
                </li>
                <li>
                    <article>
                        <h4>Filterar bort de ämnen som inte intresserar dig</h4>
                        <p>Vill bara se kurser inom medicinsk vetenskap? Inga problem!</p>
                        <video muted controls>
                            <source src="../../assets/Instruktionsvideo_filtrering.mp4" type="video/mp4">
                        </video>
                    </article>
                </li>
            </ul>
        </article>
        <article>
            <div>

                <h3>Håll koll på dina kurser med ditt personliga ramchsema</h3>
                <p>Med vårt ramchsema kan du lätt markera de kurser som intresserar dig och kolla igenom senare.</p>
            </div>
            <ul>
                <li>
                    <article>
                        <h4>Lägg till kurser på det ramchsema för att lättare se vilka kurser du vill söka</h4>
                        <p>Bara ett knapptryck!</p>
                        <video muted controls>
                            <source src="../../assets/Instruktionsvideo_lägg_till.mp4" type="video/mp4">
                        </video>
                    </article>
                </li>
                <li>
                    <article>
                        <h4>Håll koll på dina kursers totala högskolepoäng</h4>
                        <p>Du kan hela tiden se den totala högskolepoäng som alla dina tillagda kurser tillsammans har.
                        </p>
                    </article>
                </li>
                <li>
                    <article>
                        <h4>Ta bort de kurser som inte längre är av intresse</h4>
                        <p>Bara att trycka på en knapp!</p>
                        <video muted controls>
                            <source src="../../assets/Instruktionsvideo_ta-bort.mp4" type="video/mp4">
                        </video>
                    </article>
                </li>
            </ul>
        </article>
    </section>
    <section>
        <article>
            <div>
                <h3>Om UCB</h3>
                <p>
                    UCB är ett universitet där allt läromaterial är förinspelat och finns online, du som student
                    behöver bara oroa dig över deadlines. Om en kurs behöver extra läromaterial i form av kursböcker
                    står det på dens kursplan som finns länkad på sidan.
                </p>
            </div>
        </article>
    </section>
</main>